body {
	overflow-x: hidden;
	margin: 0;
	color: #fff;
}
.continuum {
	position: relative;
	color: #fff;
	text-align: center;
	z-index: 10;
}
.space {
	height: 3600px;
}
.star {
	position: absolute;
	height: 40px;
	width: 35px;
	background: url(../img/stars-sprite.png);
}
.trash {
	position: absolute;
	left: 50%;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
.trash.crash {
	margin-top: 300px;
}
.futurama {
	bottom: 2560px;
	margin-left: -268px;
}
.futurama.crash {
	margin-left: -700px;
	-webkit-transform: rotate(140deg);
	-moz-transform: rotate(140deg);
	-ms-transform: rotate(140deg);
	transform: rotate(140deg);
}
.kenny {
	top: 1470px;
	margin-left: 60px;
}
.kenny.crash {
	margin-left: 500px;
	-webkit-transform: rotate(-140deg);
	-moz-transform: rotate(-140deg);
	-ms-transform: rotate(-140deg);
	transform: rotate(-140deg);
}
.hammer {
	top: 1770px;
	margin-left: -120px;
}
.hammer.crash {
	margin-left: -500px;
	-webkit-transform: rotate(200deg);
	-moz-transform: rotate(200deg);
	-ms-transform: rotate(200deg);
	transform: rotate(200deg);
}
.moon {
	top: 2300px;
	margin-left: 50px;
}
.moon.crash {
	margin-left: 200px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.moon .moon-full {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.moon.crash .moon-full {
	opacity: 0;
	filter: alpha(opacity=0);
}

.meteor,
.fire-1,
.fire-2 {
	position: fixed;
	bottom: 500px;
	left: 50%;
	margin-left: -130px;
	opacity: 0;
	filter: alpha(opacity=0);
}
.meteor {
	margin-bottom: -130px;
	margin-left: -100px;
	/*background: rgba(0,0,0, .5);*/
	/*border-radius: 150px;*/
	z-index: 5;
	/*box-shadow: 0 0 25px rgba(0,0,0, .5);*/
	-webkit-transition: opacity .5s ease-in;
	-moz-transition: opacity .5s ease-in;
	transition: opacity .5s ease-in;
}
.fire-1 {
	z-index: 4;
}
.fire-2 {
	z-index: 3;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.earth {
	position: absolute;
	margin-left: -300px;
	left: 50%;
	bottom: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
	z-index: 8;
}
.explosion-wrapper {
	position: absolute;
	margin-left: -450px;
	left: 50%;
	bottom: 0;
	height: 830px;
	width: 900px;
	z-index: 10;
}
.explosion {
	position: absolute;
	bottom: -150px;
	left: 50%;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
	opacity: 0;
	filter: alpha(opacity=0);
}
.explosion-2 {
	margin-left: -370px;
	margin-bottom: 100px;
	z-index: 10;
}
.explosion-3 {
	margin-left: -1050px;
	z-index: 20;
}

.overlay {
	position: fixed;
	display: table;
	table-layout: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: url(../img/explosion-3.jpg) center bottom no-repeat;
	z-index: 100;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 1s .5s;
	-moz-transition: opacity 1s .5s;
	transition: opacity 1s .5s;
}
.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0,0,0, .5);
    z-index: -1;
    opacity: 0;
}
.overlay-content {
	display: table-cell;
	padding: 10%;
	vertical-align: middle;
	text-align: center;
	color: #333;
    opacity: 0;
    -webkit-transition: opacity .5s 1.5s;
    -moz-transition: opacity .5s 1.5s;
    transition: opacity .5s 1.5s
}
.message {
	margin-bottom: 1em;
	font: 100px/1 'Marck Script',cursive;
	color: #065353;
}
.new-msg {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 10px;
	width: 260px;
	height: 30px;
	font: bold 15px Arial, sans-serif;
	background: #9e6337;
	background: rgba(158,99,55, .1);
	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow:
		inset 0 1px 2px rgba(0,0,0, .2),
		0 2px 0 rgba(255,255,255, .5);
}
.new-msg:hover {
	box-shadow:
		inset 0 1px 2px rgba(0,0,0, .2),
		0 2px 0 rgba(255,255,255, .5),
		0 0 5px rgba(255,255,0, .25);
}
.new-msg:focus {
	border-color: #fd9d37;
	box-shadow:
		inset 0 1px 2px rgba(0,0,0, .2),
		0 2px 0 rgba(255,255,255, .5),
		0 0 5px rgba(255,255,0, .25);
}
.button {
    display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 5px;
	width: 90px;
	height: 30px;
	font: bold 15px/28px Arial, sans-serif;
    color: #000;
    text-decoration: none;
    cursor: pointer;
	background: -webkit-linear-gradient(top, rgba(255,126,6, .8), rgba(255,198,33, .8));
	background: -moz-linear-gradient(top, rgba(255,126,6, .8), rgba(255,198,33, .8));
	background: linear-gradient(top, rgba(255,126,6, .8), rgba(255,198,33, .8));
	border: 1px solid #fd9d37;
	border-radius: 5px;
	box-shadow:
		inset 0 0 5px rgba(255,255,190, .25),
		inset 0 2px 0 rgba(255,255,255, .5),
		0 2px 0 rgba(255,255,255, .5);
	text-shadow: 0 1px rgba(255,255,255, .5);
}
.button:hover {
	box-shadow:
		inset 0 0 10px rgba(255,255,190, .25),
		inset 0 2px 0 rgba(255,255,255, .5),
		0 2px 0 rgba(255,255,255, .5),
		0 0 5px rgba(255,255,0, .25);
}
.button:active {
	background: -webkit-linear-gradient(top, rgba(255,126,6, .8), rgba(255,174,24, .8));
	background: -moz-linear-gradient(top, rgba(255,126,6, .8), rgba(255,174,24, .8));
	background: linear-gradient(top, rgba(255,126,6, .8), rgba(255,174,24, .8));
	box-shadow:
		inset 0 1px 3px rgba(0,0,0, .2),
		0 2px 0 rgba(255,255,255, .5);
}
.once-more {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
    bottom: 40px;
    color: #FFFFFF;
    display: inline-block;
    font: bold 15px Arial;
    position: absolute;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.once-more:hover {
    border-bottom-color: #fff;
    text-shadow: 0 0 2px rgba(255, 255, 255, .5);
}
.popup {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	margin-top: -85px;
	margin-left: -135px;
	padding-top: 20px;
	top: 50%;
	left: 50%;
	width: 270px;
	height: 170px;
	text-align: center;
	font-family: Arial, sans-serif;
	background: #fff;
	border-radius: 10px;
	box-shadow:
		0 0 25px rgba(0,0,0, .2),
		0 2px 5px rgba(0,0,0, .25);
	opacity: 0;
	filter: alpha(opacity=0);
}
.popup .url {
	margin: 1em auto;
	height: 1.3em;
	width: 10em;
	font-size: 20px;
	color: #000;
}

/* Visual effects */

.rotate {
	-webkit-animation: rotate 30s linear infinite;
	-moz-animation: rotate 30s linear infinite;
	animation: rotate 30s linear infinite;
}
.pause {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	animation-play-state: paused;
}
@-webkit-keyframes rotate {
	to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotate {
	to { -moz-transform: rotate(360deg); }
}
@keyframes rotate {
	to { transform: rotate(360deg); }
}
@-webkit-keyframes shake {
	20% { -webkit-transform: translate(-5px, 5px); }
	40% { -webkit-transform: translate(5px, -5px); }
	60% { -webkit-transform: translate(5px, 5px); }
	80% { -webkit-transform: translate(-5px, -5px); }
}
@-moz-keyframes shake {
	20% { -moz-transform: translate(-5px, 5px); }
	40% { -moz-transform: translate(5px, -5px); }
	60% { -moz-transform: translate(5px, 5px); }
	80% { -moz-transform: translate(-5px, -5px); }
}
@keyframes shake {
	20% { transform: translate(-5px, 5px); }
	40% { transform: translate(5px, -5px); }
	60% { transform: translate(5px, 5px); }
	80% { transform: translate(-5px, -5px); }
}

.shake {
	-webkit-animation: shake 1s;
	-moz-animation: shake 1s;
	animation: shake 1s;
}
@-webkit-keyframes blink {
	50% { opacity: 1; }
}
@-moz-keyframes blink {
	50% { opacity: 1; }
}
@keyframes blink {
	50% { opacity: 1; }
}
.blink {
	-webkit-animation: blink .5s infinite;
	-moz-animation: blink .5s infinite;
	animation: blink .5s infinite;
}
.blink-2 {
	-webkit-animation: blink .5s infinite .25s;
	-moz-animation: blink .5s infinite .25s;
	animation: blink .5s infinite .25s;
}

.visible {
	opacity: 1;
	filter: alpha(opacity=100);
}
